<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
  <style>
    h1 {
      font-size: 40px;
      font-family: Roboto;
      font-weight: bold;
      color: rgb(50, 50, 50);
      text-align: center;
      
    }
  </style>
</head>
<body>
  <div id='container'></div>
    <h1>Welcome to the career Page</h1>
    <p>Hello there , you'll learn about the job openings at your local company soon.</p>
  <img src='https://media.istockphoto.com/id/536245001/photo/job-search-still-life-with-title-jobs.jpg?s=1024x1024&w=is&k=20&c=MfqW_M8T3BMgtkZPQj9t4IBeJbLQ-x1IWiZc-7h18mg=' height="320" width="600" alt="image">
  <h2>About Career</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h3>Open Positions</h3>
  <p>TODO- Show the Jobs here</p>
  <button>Contact Us</button>
</body>
</html>